openapi: 3.1.0
info:
  title: Pulse Payment Platform API
  description: |
    REST API for the Pulse Payment Platform. Create payment links to accept
    crypto (USDC/USDT on Solana) and PIX payments. Manage webhook subscriptions
    for real-time payment notifications.

    ## Authentication
    All endpoints require an API key sent as a Bearer token:
    ```
    Authorization: Bearer sk_live_...
    ```
    API keys are created in the Pulse dashboard under **Developers > API Keys**.

    ## Rate Limiting
    Responses include rate limit headers:
    - `X-RateLimit-Limit` — max requests per minute for your tier
    - `X-RateLimit-Remaining` — requests remaining in current window
    - `X-RateLimit-Reset` — Unix timestamp when window resets

    Tiers: free (100/min), pro (1,000/min), enterprise (5,000/min).

    ## Response Format
    - Single objects: `{ "data": { ... } }`
    - Lists: `{ "items": [...], "total": N, "limit": N, "offset": N }`
    - Errors: `{ "error": "code", "message": "description" }`
  version: 0.1.0
  contact:
    name: Pulse Support
    url: https://beinfi.com
  license:
    name: MIT

servers:
  - url: https://api.beinfi.com/api/v1
    description: Production

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key starting with `sk_live_`

  schemas:
    PaymentLink:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        title:
          type: string
          example: "Web Development"
        description:
          type: string
          nullable: true
          example: "Landing page development"
        amount:
          type: string
          description: Decimal amount as string
          example: "150.00"
        currency:
          type: string
          enum: [USD, BRL]
          example: "USD"
        status:
          type: string
          enum: [active, inactive]
          example: "active"
        acceptedMethods:
          type: array
          items:
            type: string
          example: ["crypto", "pix"]
        slug:
          type: string
          example: "web-development-a1b2c3"
        userId:
          type: string
          format: uuid
        exchangeRate:
          type: string
          nullable: true
          example: null
        amountUsd:
          type: string
          nullable: true
          example: "150.00"
        createdAt:
          type: string
          format: date-time
          example: "2026-01-15T10:30:00.000Z"
        updatedAt:
          type: string
          format: date-time
          example: "2026-01-15T10:30:00.000Z"
      required:
        - id
        - title
        - amount
        - currency
        - status
        - slug
        - userId
        - createdAt
        - updatedAt

    CreatePaymentLinkRequest:
      type: object
      properties:
        title:
          type: string
          description: Human-readable title shown to the payer
          example: "Web Development"
        amount:
          type: string
          description: "Decimal amount as string (e.g. \"150.00\")"
          example: "150.00"
        description:
          type: string
          description: Optional description shown on checkout page
          example: "Landing page development"
        currency:
          type: string
          enum: [USD, BRL]
          default: USD
          description: Currency code
          example: "USD"
      required:
        - title
        - amount

    PaymentIntent:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "b2c3d4e5-f6a7-8901-bcde-f23456789012"
        paymentLinkId:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
          nullable: true
        userId:
          type: string
          format: uuid
        amount:
          type: string
          nullable: true
          example: "150.00"
        currency:
          type: string
          example: "USD"
        status:
          type: string
          enum: [pending, observed, confirmed, failed, expired]
          example: "confirmed"
        method:
          type: string
          enum: [crypto, pix]
          nullable: true
          example: "crypto"
        paidAt:
          type: string
          format: date-time
          nullable: true
          example: "2026-01-15T10:35:00.000Z"
        expiresAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - paymentLinkId
        - userId
        - currency
        - status
        - createdAt
        - updatedAt

    Webhook:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "c3d4e5f6-a7b8-9012-cdef-345678901234"
        url:
          type: string
          format: uri
          example: "https://example.com/webhook"
        events:
          type: array
          items:
            type: string
          example: ["payment.confirmed"]
        isActive:
          type: boolean
          example: true
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - url
        - events
        - isActive
        - createdAt

    WebhookCreated:
      allOf:
        - $ref: "#/components/schemas/Webhook"
        - type: object
          properties:
            secret:
              type: string
              description: "HMAC signing secret (64-char hex). Only returned at creation. Store securely."
              example: "a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2"
          required:
            - secret

    CreateWebhookRequest:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: HTTPS URL to receive webhook POST requests
          example: "https://example.com/webhook"
        events:
          type: array
          items:
            type: string
          description: Event types to subscribe to
          example: ["payment.confirmed"]
      required:
        - url
        - events

    PaginatedPaymentLinks:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PaymentLink"
        total:
          type: integer
          example: 42
        limit:
          type: integer
          example: 20
        offset:
          type: integer
          example: 0
      required:
        - items
        - total
        - limit
        - offset

    PaginatedPaymentIntents:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PaymentIntent"
        total:
          type: integer
          example: 5
        limit:
          type: integer
          example: 20
        offset:
          type: integer
          example: 0
      required:
        - items
        - total
        - limit
        - offset

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Machine-readable error code
          example: "unauthorized"
        message:
          type: string
          description: Human-readable error description
          example: "Invalid API key"
      required:
        - error
        - message

  headers:
    X-RateLimit-Limit:
      description: Max requests per minute for your tier
      schema:
        type: integer
        example: 100
    X-RateLimit-Remaining:
      description: Requests remaining in current window
      schema:
        type: integer
        example: 95
    X-RateLimit-Reset:
      description: Unix timestamp when rate limit window resets
      schema:
        type: integer
        example: 1705312260

  responses:
    Unauthorized:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "unauthorized"
            message: "Invalid API key"
    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          description: Seconds to wait before retrying
          schema:
            type: integer
            example: 60
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "rate_limit_exceeded"
            message: "Rate limit exceeded"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "not_found"
            message: "Payment link not found"
    ValidationError:
      description: Request validation failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "validation_error"
            message: "Invalid currency value"

paths:
  /payment-links:
    post:
      operationId: createPaymentLink
      summary: Create a payment link
      description: Create a new payment link for accepting crypto or PIX payments.
      tags: [Payment Links]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentLinkRequest"
      responses:
        "200":
          description: Payment link created successfully
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/PaymentLink"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

    get:
      operationId: listPaymentLinks
      summary: List payment links
      description: List all payment links for the authenticated user with pagination.
      tags: [Payment Links]
      parameters:
        - name: limit
          in: query
          description: Maximum number of results (default 20)
          schema:
            type: integer
            default: 20
            example: 10
        - name: offset
          in: query
          description: Number of results to skip
          schema:
            type: integer
            default: 0
            example: 0
        - name: status
          in: query
          description: Filter by status
          schema:
            type: string
            enum: [active, inactive]
      responses:
        "200":
          description: List of payment links
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedPaymentLinks"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /payment-links/{linkId}:
    get:
      operationId: getPaymentLink
      summary: Get a payment link
      description: Retrieve a single payment link by its ID.
      tags: [Payment Links]
      parameters:
        - name: linkId
          in: path
          required: true
          description: Payment link UUID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Payment link details
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/PaymentLink"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /payment-links/{linkId}/intents:
    get:
      operationId: listPaymentIntents
      summary: List payment intents for a link
      description: |
        List all payment intents (payment attempts) for a specific payment link.
        Payment intents track the lifecycle of each payment attempt:
        `pending` → `observed` → `confirmed` (or `failed`/`expired`).
      tags: [Payment Links]
      parameters:
        - name: linkId
          in: path
          required: true
          description: Payment link UUID
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          description: Maximum number of results
          schema:
            type: integer
        - name: offset
          in: query
          description: Number of results to skip
          schema:
            type: integer
      responses:
        "200":
          description: List of payment intents
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedPaymentIntents"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /webhooks:
    post:
      operationId: createWebhook
      summary: Create a webhook subscription
      description: |
        Create a new webhook subscription. The response includes a `secret`
        (64-char hex string) used to verify webhook signatures. **This secret is
        only returned once** — store it securely.
      tags: [Webhooks]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookRequest"
      responses:
        "200":
          description: Webhook created with signing secret
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WebhookCreated"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

    get:
      operationId: listWebhooks
      summary: List webhook subscriptions
      description: List all webhook subscriptions for the authenticated user.
      tags: [Webhooks]
      responses:
        "200":
          description: List of webhooks
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Webhook"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /webhooks/{id}:
    delete:
      operationId: deleteWebhook
      summary: Delete a webhook subscription
      description: Delete a webhook subscription by its ID.
      tags: [Webhooks]
      parameters:
        - name: id
          in: path
          required: true
          description: Webhook UUID
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Webhook deleted successfully
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

tags:
  - name: Payment Links
    description: Create and manage payment links for accepting crypto and PIX payments
  - name: Webhooks
    description: Manage webhook subscriptions for real-time payment notifications
